.home .logo-wrapper {
	height: auto;
}

.home .logo-wrapper h1 {
	font-weight: 700;
	font-size: 80px;
	line-height: 100%;
	letter-spacing: -3px;
	color: #505E25;

	margin: 30px 0 0 0;
	text-align: center;
}

.home .logo-wrapper h2 {
	font-weight: 400;
	font-size: 20px;
	color: #8BC53F;
	margin: 0 auto 30px auto;
	text-align: right;
	max-width: 700px;
	border: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.home .logo-wrapper h1 {
		font-size: 40px;
		letter-spacing: -2px;
	}
	.home .logo-wrapper h2 {
		font-size: 12px;
	}
}

.home .nav {
	text-align: center;
}
.home .nav ul {
	display: inline-block;
}
.home .nav li.download {
	float: none;
}

.home .content,
.home .footer {
	text-align: center;
}

body {
	background-image: url(../../images/bg_blanc.jpg);
	/*background-color: #F0EFE7;*/
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	margin: 0;
}
#wrapper {
	width: 100%;
}
.logo-wrapper {
	position: relative;
	min-width: 768px;
	height: 100px;
}
.stage-wrapper {
	background-color: #8BC53F;
	min-width: 768px;
	position: relative;
}
.nav-wrapper {
	background-color: #fdfdf6;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	min-width: 768px;
	position: relative;
}
.content-wrapper {
	padding-bottom: 30px;
}
.home .content-wrapper {
	padding-top: 20px;
}
.footer-wrapper {
	padding: 10px 0;
	background-color: #fdfdf6;
	border-top: 1px solid #E2E0D8;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
}
.footer-wrapper a {
	color: #505E25;
	text-decoration: none;
}
.footer-wrapper a:hover {
	text-decoration: underline;
}
.logo,
.nav,
.stage,
.content,
.footer {
	position: relative;
	max-width: 768px;
	margin: auto;
	overflow: auto;
}
.stage {
	padding: 35px 0;
}
.nav {
	padding: 10px 0;
}
.title {
	line-height: 80px;
	margin: 0;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	text-decoration: none;
	color: #F14E32;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 0 30px rgba(255, 255, 255, 0.75);
	letter-spacing: -1px;
	float: left;
}
.title .small {
	font-weight:normal;
	font-size: 16px;
	line-height: 16px;
	color: #9A9994;
	letter-spacing: 0px;
}
.nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
}
.nav li {
	display: inline-block;
}
.nav li.download {
	/*float:right;*/
}
.nav a {
	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-weight:bold;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0, 0.15);
	border-radius: 6px;
	padding: 5px 15px;
	background: #8BC53F;
	/*box-shadow: rgba(255,255,255, 0.75) 0 1px 0;*/
}
.nav a img {
	margin: -5px 5px -5px 5px;
}
.nav a:hover {
	background-color: #505E25;
}
.nav li.download a {
	background-color: #505E25;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #505E25;
	position: relative; /* For nested anchors */
}

h2, h2 a {
	color: #F14E32;
}
h3, h3 a {
	color: #0388A6;
}

*:hover> .anchor > * {
	bottom: 0;
	cursor: pointer;
	display: block;
	left: 0;
	position: absolute;
}
a {
	color: #0388A6;
}
hr {
	background: transparent url(img/hr.png) 0 0 repeat-x;
	border: 0 none;
	color: #ccc;
	height: 4px;
	margin: 30px 0 1em 0;
	padding: 0;
}

.teaser h3 {
	margin-top: 0;
}



.teaser2-box,.teaser-box,.galerie-box,.ban_wiki-box{
	float: left;
	/*width: 40%;*/
	min-width: 230px;
	padding: 2%;
	margin: 2%;
	display: block;
	text-decoration: none;
	/*text-align: center;*/
	color: #9a9994;
	background-color: #FFF;
	box-shadow: 0 0 5px inset rgba(0, 0, 0, 0.72);
	border-radius: 6px;
	border: solid #9a9994 1px ;
}
.garantie-box {float: left;width: 100%;padding: 2%;margin: 2%;color: #000;}
.galerie-box {min-height:130px;width: 40%;}
.galerie-box:hover {background-color:#8bc53f;}

.teaser2-box{width:90%;text-align: justify;color:black;}
.teaser2-box a {text-decoration: none}
.teaser-box{width:100%;}
.teaser-box:hover, .galerie-box:hover {text-decoration: none !important;}
.teaser-box h3, .galerie-box h3	{color: #F14E32;line-height: 24px;margin: 0;}
.teaser-box p , .galerie-box p	{margin-bottom: 0;margin-top: 0;}
.teaser-box img , .galerie-box img,.garantie-box img{float:left;margin-right:5px;}
.garantie-box {	float: left;width: 90%;padding: 0%;margin: 2%;color: #000;text-align: justify;}
.ban_wiki-box{min-width: 230px;width: 30%;border:0;padding: 0;margin: 0;}


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media (max-width: 808px) {
	.logo-wrapper,
	.stage-wrapper,
	.nav-wrapper,
	.content-wrapper,
	.footer-wrapper {
		min-width: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.title {
		text-align: center;
		display: block;
		float: none;
	}

	.title .small {
		display: none;
	}

	.nav {
		text-align: center;
		width:100%;
		float:right;

	}

	.nav ul li{
		width:48%;
		display: inline-block;
		margin-bottom: 5px;
	}

	/*.nav li.download {
		float: none;
	}*/
}
/**/

pre {
	background-color: #F9F9F9;
	font-size: 14px;
	line-height: 19px;
	overflow: auto;
	padding: 12px 15px;
	margin: 0;
	color: #333;
	box-shadow: 0 0 2px #E2E0D8;
	border-radius: 3px;
}

.highlight:before {
	font-family: Verdana, Arial, sans-serif;
	color: #9A9994;
	font-size: x-small;
	text-align: right;
	display: block;
	padding-right: 5px;
	padding-bottom: 2px;
	margin-top: -1.5em;
}

/* jCarousel */

.jcarousel-wrapper {
	position: relative;
	border: 10px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}

@media (max-width: 600px) {
	.jcarousel-wrapper {
		border: 5px solid #fff;
	}
}

.jcarousel-wrapper .photo-credits {
	position: absolute;
	right: 15px;
	bottom: 0;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
	opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
	color: #fff;
}

/** Carousel **/

.jcarousel {
	position: relative;
	overflow: hidden;
}

.jcarousel ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	float: left;
}

.jcarousel img {
	display: block;
	max-width: 100%;
	height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #8BC53F;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	font: 24px/27px Arial, sans-serif;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 0 4px #F0EFE7;
	-moz-box-shadow: 0 0 4px #F0EFE7;
	box-shadow: 0 0 4px #F0EFE7;
}

@media (max-width: 480px) {
	.jcarousel-control-prev,
	.jcarousel-control-next {
		margin-top: -10px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		font: 16px/18px Arial, sans-serif;
	}
}

.jcarousel-control-prev {
	left: 15px;
}

.jcarousel-control-next {
	right: 15px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
	display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
	opacity: .25;
	cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
	position: absolute;
	bottom: 10px;
	left: 50%;

	margin: 0;
	margin-left: -22px;
}

@media (max-width: 620px) {
	.jcarousel-pagination {
		bottom: -35px;
	}
}

.jcarousel-pagination a {
	text-decoration: none;
	display: inline-block;

	font-size: 11px;
	height: 10px;
	width: 10px;
	line-height: 10px;

	background: #fff;
	color: #8BC53F;
	border-radius: 10px;
	text-indent: -9999px;

	margin-right: 7px;

	-webkit-box-shadow: 0 0 2px #8BC53F;
	-moz-box-shadow: 0 0 2px #8BC53F;
	box-shadow: 0 0 2px #8BC53F;
}

.jcarousel-pagination a.active {
	background: #8BC53F;
	color: #fff;
	opacity: 1;

	-webkit-box-shadow: 0 0 2px #F0EFE7;
	-moz-box-shadow: 0 0 2px #F0EFE7;
	box-shadow: 0 0 2px #F0EFE7;
}


/* MENUS TRIO NOIRS --------------------------------------------------------------------------*/
#menu_trio 			{width: 100%;position: relative; top: 0px; overflow:auto;text-align: center}
#menu_trio div 		{float: left; width: 100px;margin-left:10px;}
#menu_trio div h2 	{text-align: center; height: 90px;}


#menu_trio #devis h2 a 			{background-image: url(../../images/b4_1.png);background-repeat: no-repeat;outline-style: none;}
#menu_trio #references h2 a 	{background-image: url(../../images/b4_2.png);background-repeat: no-repeat;outline-style: none;}
#menu_trio #contacter_fr h2 a 	{background-image: url(../../images/b4_3.png);background-repeat: no-repeat;outline-style: none;}
#menu_trio #primes h2 a 		{background-image: url(../../images/b4_4.png);background-repeat: no-repeat;outline-style: none;}

#menu_trio #devis h2 a:hover, #menu_trio #references h2 a:hover, #menu_trio #primes h2 a:hover, #menu_trio div h2 a {display: block;height: 100%;}


/* END MENUS TRIO NOIRS --------------------------------------------------------------------------*/ 
table.tableau_infos{
	width: 100%;
}
	table.tableau_infos th{
	/*background-color: #3D6418;*/
	/*color: #ffffff;*/
	}
	table.tableau_infos td{
	background-color: #eeeeee;
	padding: 5px;
	color: #284909;
	border: 1px solid #3D6418;
	}
	table.tableau_infos td.large{
	width: 40%;
	}
/****/
.float_l{float: left}
.align_c{text-align: center}

td{border:solid black 1px;margin:0;padding:0;}
th{background:#8bc53f ;border:solid black 1px;margin:0;padding:0;}
table{width:100%;}
footer ul {list-style-type: none;float:right;}
footer ul li{float:left;padding-left: 10px;}
footer ul li img{float:left;margin-right:5px;}
.index_1 {float:left;width:450px}
.index_2 {float:right;width:250px}
.img_def{}

@media (max-width: 808px) {
	.index_1 {float:left;width:90%}
	.index_2 {float:left;width:90%;}
	.img_def{ width:100%;}
	.ban_wiki-box{width:100%;}
}
